<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      OMTp
    </ion-title>
    <app-search-movie (searchExecuted)="isFavouriteView = false"></app-search-movie>
    <ion-button (click)="isFavouriteView = !isFavouriteView">
      <ion-icon name="heart-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OMTp</ion-title>
      <app-search-movie></app-search-movie>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <app-movie-list *ngIf="!isFavouriteView" [movieList]="movieList"></app-movie-list>
    <app-movie-list *ngIf="isFavouriteView" [movieList]="likeMovieList"></app-movie-list>
  </div>
</ion-content>
